#scene{
    justify-content: center;
    align-items: center;
    margin-left: 25%;

}


#name{
    font-size: 12vh;
    margin-left: 4vw;
}

#surname{
    margin-top: 10vh;
    font-size: 80px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 20vh;
    text-align: center;
    font-size: 30px;
}

header h1{
    float: left;
    margin-left: 2vw;
}

.header-right{
    float: right;
}   

.header-right a{
    color: white;
    text-decoration: none;
    margin: 1em;
    text-align: center;
}


.header-right:hover{
    cursor: pointer;
}



