.my-name{
    margin-left: 3vw;
    display: flex;
    font-size: 50px;
    padding-top: 10vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 20vh;
    text-align: center;
    font-size: 30px;
}

header h1{
    float: left;
    margin-left: 2vw;
}

/* header img{
    max-height: 50%;
    max-width: auto; 
    object-fit: contain;
} */

.header-right{
    float: right;
}   

.header-right a{
    color: white;
    text-decoration: none;
    margin: 1em;
    text-align: center;
}



.header-right:hover{
    cursor: pointer;
}