body{
    background: url('../img/6195005.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(80px);
    z-index: -1;
}

.project-div{
    margin-left: 10vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 4vw;
}

.projects-image {
    position: relative;
    width: 50vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-image img {
    cursor: pointer;
    width: 50vw;
    height: 30vw;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}
.projects-image img:hover{
    transform: scale(1.15);
}


.word-list {
    width: 30vw;
    margin-bottom: 5vh;
    list-style: none;
    padding: 0;
    text-align: center;
}

.word-list li {
    cursor:grab;
    color: rgb(155, 155, 155);
    font-size: 3rem;
    font-weight: bold;
    margin: 5px 0;
    transition: transform 0.3s ease-out, color 0.1s ease-out;
    cursor: pointer;
    position: relative;
}

.word-list svg{
    margin-top: 2%;
    width: 2.5rem;
}


.word-list li:hover {
    color: rgb(255, 255, 255);
    background-color: #3363a240;
    transform: scale(1.1);
}

.horizontal.projects{
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:958px) {
    .project-div{
        flex-direction: column;
    }
}


